/******************************************* TESTIMONIOS *****************************/

.div-testimonios1{
    background-color: #E8E8E4;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 20px;
}

.cardtest{
    margin-left: 60px;
}
